@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source "./../../node_modules/heroui-native/lib";

@theme {
  --radius: 0.5rem;
  --opacity-disabled: 0.5;
}

@layer theme {
  :root {
    @variant light {
      --accent: #00bbff;
      --accent-foreground: #000000;
    }
    @variant dark {
      /* biome-ignore lint/suspicious/noDuplicateCustomProperties: < we need this for the buttons> */
      --accent: #00bbff;
      --accent-foreground: #000000;
    }
  }
}
